* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #faf6e9;
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.4;
}

span {
  margin-right: 10px;
}

.flex {
  display: flex;
}

.contents-container {
  margin-top: 70px;
  margin-bottom: 75px;
  
}

.header-container {
  background-color: #D2A828;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

h2 {
  /* color: white; */
  flex-grow: 2;
  text-align: center;
}

.header-btn {
  background: none;
  border: none;
  color: white;
  margin-top: 5px;
  font-size: 1.1em
}

.add-btn {
  margin-left: 10px;
  background-color: white;
  color: #a88620;
  padding: 10px;
  border: none;
  border-radius: 50%;
}

/* Album */

.album-card {
  height: 140px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  
}

.album-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  background-color:rgba(255,255,255,0.4);
  height: 100%;
  width: 100%;
}

.album-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.album-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.album-buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.album-button {
  border-radius: 50%;
  border: none;
  padding: 5px;
  background: none;
  color: grey;
}

.save-btn {
  width: 80%;
  background: #a828d2;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 15px auto;
}

.navbar-container {
  background-color: #faf6e9;
  width: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 20px;
}

.navbar-container a {
  color: white;
  font-size: 1.2em;
  padding: 15px;
  background-color: #D2A828;
  border-radius: 50%;
}



h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

label {
  width: 80%;
  margin: auto;
}

input, textarea {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: gray 0.5px solid;
}

input:focus {
  border-color: #a828d2;
}

.note-input {
  height: 30vh;
  font-family: 'Montserrat', sans-serif;
}
    
/* Article */

.article-item-container {
  margin: 5px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  max-height: 120px;
}

.article-item-photo {
  margin-right: 10px;
}

.article-item-photo img {
  height: 100px;
  width: 150px;
}

.article-detail-container {
  margin: 5px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.article-detail-container p {
  margin-top: 15px;
}

.article-button-container{
  margin-bottom: 25px;
}

.article-btn {
  background: white;
  border: none;
  position: absolute;
}

.article-img-container img {
  max-width: 350px;
}

.article-text-time {
  float: right;
  color: grey;
  font-size: 0.9em
}

.article-item-text {
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.article-item-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.edit-article-img-container {
  width: 80%;
  margin: auto;
}

.edit-article-img-container img {
  width: 100%;
}

.search-input {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.search-input:focus {
  border: none;
}

.delete-modal-container {
  position: fixed;
  top: 30%;
  left: 25%;
  width: 200px;
  background: rgba(255,255,255,0.7);
  padding: 15px;
  border-radius: 5px;
  z-index: 1;
}

.close-btn {
  border: none;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 5px;
  background: none;
}

.modal-btn {
  padding: 3px 15px;
  margin: 0 15px;
  background-color: #D2A828;
  border: none;
}

.profile-container {
  background-color: white;
  margin: auto;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 200px;
  text-align: center;
}

.landing-container {
  background-color: #faf6e9;
  height: 100vh;
  text-align: center;
  padding-top: 45%;
}

.landing-container button {
  display: block;
}